<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="darraghmonaghan">

    <title>Darragh Monaghan</title>


    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/underscore/underscore-min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/javascript/profile.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="btn btn-default navbar-btn navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Technical Skills</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
     
            <div class="headline">
                    <div class="container">
                        <h1><span class='largeFont'>D</span>ARRAGH<br><span class='largeFont'>M</span>ONAGHAN</h1>
                        <hr>
                        <h2><strong>Full Stack Developer</strong></h2>
                    </div>
            </div>

    </header>

    <!-- Page Content -->
    <div class="container">

    <br>
        <!-- First Featurette -->
        <div class="featurette" id="about">
            <h2 class="featurette-heading">Hi There<span class='detailing'>.</span>
                <span class="text-muted">A brief self intro.</span>
            </h2>
            <p class="lead">I'm a full stack developer, currently based in the UK. Before starting my career in web development, I worked in Business Development for a large multinational based in Hong Kong, working extensively throughout the region.<br><br>

            Having studied International Business at The University of Edinburgh, I began my technical education through General Assembly's WDI programme in San Francisco, and have been continuosly improving my skill set ever since.<br><br>

            At present, I am interested in opportunities that would allow me to work with small teams of passionate individuals, whether this be in-house, or as a freelance developer assisting with a technical sprint.</p>

        </div>

        <hr class="detailing featurette-divider">

        <div class="featurette" id="skills">
            <h2 class="featurette-heading">Technical Skills<span class='detailing'>.</span>
                <span class="text-muted">A few things I know.</span>
            </h2>
            <br>
                <div class='row'>
                    <img class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/logos/git.png'>
                    <img class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/logos/jquery.png'>
                    <img class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/logos/mysql.png'>
                    <img class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/logos/node.png'>
                </div>                    
                    <br><br>

                <div class='row'>                  
                    <img class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/logos/bower.png'>
                    <img class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/logos/rails.png'>
                    <img class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/logos/mongoDB.png'> 
                    <img class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/logos/ajax.png'> 
                </div>

        </div>








        <hr class="detailing featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="portfolio">
            <h2 class="featurette-heading">My Portfolio<span class='detailing'>.</span>
                <span class="text-muted">Some stuff built to date.</span>
            </h2>
            <br>

            <div class='row'>
                <img id='portfolio1' class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/images/iCaddy.png'>
                <img id='portfolio2' class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/images/Encore.png'>
                <img id='portfolio3' class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/images/quoraForDummies.png'>
                <img id='portfolio4' class='skillsLogo col-sm-6 col-md-4 col-lg-3' src='/static/images/rentalFind.png'>
            </div>
            <br>

            <div class='row'>
                <a id='clickImg' href='https://gentle-basin-8593.herokuapp.com/'>
                    <img class="col-sm-8 col-md-8 col-lg-8" id='portfolioImg' src="/static/images/iCaddy.png">
                </a>
            </div>
            <br>

            <div id='portfolio1'>        
                <p id='projectTitle' class="lead"><strong>iCaddy</strong></p>
                <p id='projectContent' class='lead'>An application born out of my love for the game of golf. iCaddy is a free platform that provides recreational golfers with a score tracking platform that automatically runs analytics on their performances, providing a base from which to improve their game.</p><br>

                <table>
                    <tr>
                        <td><strong>GitHub:</strong></td>
                        <td><a id='gitHub' href='https://github.com/darraghmonaghan/icaddy2'>darraghmonaghan/icaddy2</a></td>
                    </tr>
                    <tr>
                        <td><strong>Heroku:</strong></td>
                        <td><a id='heroku' href='https://gentle-basin-8593.herokuapp.com/'>gentle-basin-8593</a></td>
                    </tr>
                    <tr>
                        <td><strong>Tech Stack:   </strong></td>
                        <td id='techStack'>JavaScript, HTML5, CSS3, Node.js, Express, Query, PostgreSQL, BootStrap, Chart.js</td>
                    </tr>
                </table>


            </div>
            <br>


        <hr class="detailing featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <h2 class="featurette-heading">Get in touch<span class='detailing'>.</span>
                <span class="text-muted">Feel free to drop me a line.</span>
            </h2>
                <br>

                <div id='contactForm'>
                        <a id="foxyform_embed_link_735841" href="http://www.foxyform.com/"></a>
                        <script type="text/javascript">
                        (function(d, t){
                           var g = d.createElement(t),
                               s = d.getElementsByTagName(t)[0];
                           g.src = "http://www.foxyform.com/js.php?id=735841&sec_hash=c6acdf84819&width=350px";
                           s.parentNode.insertBefore(g, s);
                        }(document, "script"));
                        </script>
                </div>            

        </div>

        <hr class="detailing featurette-divider">

        <!-- Footer -->
        <footer>
                    <p id='footerSignOff'class='lead'>darraghmonaghan.com</p>
        </footer>

    </div>
    <!-- /.container -->






    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js">

    </script>




</body>

</html>
